<!doctype html>
<html>
    <head>
        <title>Special Offers</title>
    </head>
    <body>
        <header class="header">
            <a href="{{ route('welcome') }}" class="logo">Special Offers</a>
            <a href="{{ route('register')}}">Registration</a>
            <a href="{{ route('login') }}">Login</a>
            
        </header>
        @!section('content')
        <footer class="footer">
            <span class="copyright">Copyright 2017 Arnold Clark Automobile Ltd. All rights reserved.</span>
        </footer>
    
    </body>
</html>